In [1]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:

df = pd.read_csv('dataset/Gungor_2018_VictorianAuthorAttribution_data-train.csv', encoding = "ISO-8859-1")
df['author'] = df['author'] -1
# df['text'] =df['text'].str.split()

In [3]:
df.head()

                                                text  author
0  ou have time to listen i will give you the ent...       0
1  wish for solitude he was twenty years of age a...       0
2  and the skirt blew in perfect freedom about th...       0
3  of san and the rows of shops opposite impresse...       0
4  an hour s walk was as tiresome as three in a s...       0

In [4]:
# from nltk.stem import WordNetLemmatizer
# lemmatizer = WordNetLemmatizer()
# df['lemmatized'] = df['text'].apply(lambda x: [lemmatizer.lemmatize(word,pos='v') for word in x])

# df['text'] = [' '.join(map(str, l)) for l in df['lemmatized']]

In [5]:
df.head()

                                                text  author
0  ou have time to listen i will give you the ent...       0
1  wish for solitude he was twenty years of age a...       0
2  and the skirt blew in perfect freedom about th...       0
3  of san and the rows of shops opposite impresse...       0
4  an hour s walk was as tiresome as three in a s...       0

In [6]:
import re
df['text']= df['text'].apply(lambda x: x.lower())
df['text']= df['text'].apply(lambda x: re.sub(r'[^a-zA-Z\s]','',x))

In [7]:
df.head()

                                                text  author
0  ou have time to listen i will give you the ent...       0
1  wish for solitude he was twenty years of age a...       0
2  and the skirt blew in perfect freedom about th...       0
3  of san and the rows of shops opposite impresse...       0
4  an hour s walk was as tiresome as three in a s...       0

In [8]:
X = df['text']
Y = df['author']

In [9]:
# from nltk.corpus import stopwords
# print(stopwords.words('english'))
# vectorizer = CountVectorizer(stop_words=stopwords.words('english'),max_features=1000)
# X = vectorizer.fit_transform(X).toarray()

In [10]:
MAX_FEATURES = 1000
#

In [11]:
from nltk.corpus import stopwords
vectorizer = TfidfVectorizer(analyzer='word',stop_words=stopwords.words('english'),max_features=MAX_FEATURES)
X = vectorizer.fit_transform(X).toarray()

In [12]:
print(f"Shape of X: {X.shape}")

Shape of X: (53678, 1000)

In [13]:
features = vectorizer.get_feature_names_out()
df_post_processing = pd.DataFrame(X,columns=features).head()
df_post_processing.head()

,aa,able,according,account,acquaintance,across,act,action,added,advantage,...,ye,year,years,yellow,yes,yet,yon,york,young,youth
0,0.0,0.000000,0.0,0.000000,0.000000,0.055227,0.0,0.000000,0.000000,0.0,...,0.0,0.00000,0.000000,0.0,0.0,0.034050,0.000000,0.0,0.112247,0.000000
1,0.0,0.048354,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.04741,0.074913,0.0,0.0,0.061247,0.000000,0.0,0.134603,0.061496
2,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.00000,0.116900,0.0,0.0,0.031858,0.000000,0.0,0.140030,0.000000
3,0.0,0.000000,0.0,0.047266,0.058499,0.000000,0.0,0.057409,0.045014,0.0,...,0.0,0.00000,0.000000,0.0,0.0,0.027987,0.055117,0.0,0.030753,0.000000
4,0.0,0.044180,0.0,0.000000,0.058485,0.000000,0.0,0.000000,0.000000,0.0,...,0.0,0.00000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.030746,0.000000

In [14]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X = scaler.fit_transform(X)

In [15]:
X = np.array(X)
Y = np.array(Y).reshape(-1,1)
X.shape , Y.shape

((53678, 1000), (53678, 1))

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() 
Y = le.fit_transform(Y)

c:\Users\Eldeeb\.conda\envs\tf\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
import numpy as np  

x_train, x_test, y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=11)

x_train.shape, y_train.shape

((42942, 1000), (42942,))

In [18]:
nb = MultinomialNB()
nb.fit(x_train,y_train)
print(f"Accuracy of the model: {accuracy_score(y_test,nb.predict(x_test))}")

Accuracy of the model: 0.761456780923994

In [19]:
lr = LogisticRegression()
lr.fit(x_train,y_train)
print(f"Accuracy of the model: {accuracy_score(y_test,lr.predict(x_test))}")

Accuracy of the model: 0.9141207153502235

c:\Users\Eldeeb\.conda\envs\tf\lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [20]:
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train,y_train)
print(f"Accuracy of the model: {accuracy_score(y_test,knn.predict(x_test))}")

Accuracy of the model: 0.5451751117734724

In [21]:
rfc = RandomForestClassifier(random_state=0)
rfc.fit(x_train,y_train)
print(f"Accuracy of the model: {accuracy_score(y_test,rfc.predict(x_test))}")

Accuracy of the model: 0.6153129657228018